<nav class="navbar navbar-default nav-car-pic">
  <div class="container-fluid">
    {{navbar-header}}

    <div class="collapse navbar-collapse" id="navigation">
      {{#link-to "vehicles" class="header-db" }}{{format-user user}}'s Dashboard{{/link-to}}

      <ul class="nav navbar-nav navbar-right">
        <div class="row">
          <div class="col-md-4">
            {{#link-to "new" class="nava create" }}Create a new vehicle{{/link-to}}
          </div>
          <div class="col-md-4">
            <button class="nava">{{#link-to "change-password"}}Change Password{{/link-to}}</button>
          </div>
          <div class="col-md-4">
            <button {{action "signOut"}} class="nava">Sign Out</button>
          </div>
        </div>
      </ul>
    </div>
  </div>
</nav>