{{!-- Form is being rendered in route instead of here --}}

{{!-- <form {{action 'updateWork' work on='submit'}}>
  Name: {{input placeholder='name' value=work.name class=inline}}<br>
  Date: {{input placeholder='date' value=work.date}}<br>
  Mileage: {{input placeholder='mileage' value=work.mileage}}<br>
  <button type='submit'> Update this work </button>
</form>
{{#link-to 'vehicle' work.vehicle}}Back to vehicle{{/link-to}} --}}
