{{#each vehicle.works as |work|}}
  <h4>{{work.name}}</h4>
  <h6>on {{work.date}}</h6>
<h6> at {{work.mileage}} miles</h6>
<button {{action 'deleteWork' work}}> Delete this work </button>
{{#link-to 'update-work' work.id}}Update work{{/link-to}}
{{/each}}
