@import "ember-bootstrap/bootstrap";

h1 {
  text-align: center;
}

h2 {
  margin-top: 0;
}

footer {
  position: fixed;
  left: 0;
  // bottom: 0;
  width: 100%;
  background-size: cover;
  background-color: black;
  color: white;
  background-attachment: fixed;
}

.inline input {
  // display: inline;
  max-width: 40%;
}

.hide-work-form form {
  display: none;
}

h5 {
  font-size: 1.1em;
}

.box-title {
  margin: -0.8em 1px;
  background: white;
  width: 40%;
  margin-left: 10%;
  text-align: center;
  // display: inline;
  // width: 12em;
  // text-align: center;
}

.border {
  border: 1px solid black;
  border-radius: 3px;
}

.box-text {
  margin: 2.7em 1em 1.8em 2em;
  padding-right: 0;
}

.links {
  margin-top: 50px;
  margin-left: 10%;
  border: 1px solid black;
  border-radius: 3px;
  // text-decoration: underline;
  // font-size: 1.5em;
}

.link {
  color: black;
}

.created-by {
  text-align: left;
}

.webmaster {
  text-align: right;
  padding-right: 10px;
}

.header-underline h3 {
  text-decoration: underline;
  margin: 3px;
  padding: 3px;
}

.section-outline {
  border: solid black 1px;
  border-radius: 3px;
  margin: 3px;
  padding: 3px;
}

.vehicle {
  margin-top: 7em;
}

.vehicle-info {
  margin-left: 17px;
  margin-right: 5em;
}

.vehicles {
  margin: 30px;
}
