@import "ember-bootstrap/bootstrap";

h1 {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  // bottom: 0;
  width: 100%;
  background-size: cover;
  background-color: black;
  color: white;
  background-attachment: fixed;
}
// position: absolute;
// left: 0;
// height: calc(100% - 54px); /*Minus the height of the header*/
// top: 54px; /*The height of the header*/
// background-size: cover;
// background-attachment: fixed;

.inline input {
  // display: inline;
  max-width: 40%;
}

.hide-work-form form {
  display: none;
}

.created-by {
  text-align: left;
}

.webmaster {
  text-align: right;
  padding-right: 10px;
}

.header-underline h3 {
  text-decoration: underline;
  margin: 3px;
  padding: 3px;
}

.section-outline {
  border: solid black 1px;
  margin: 3px;
  padding: 3px;
}
