@import "ember-bootstrap/bootstrap";

h1 {
  text-align: center;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  color: white;
}

.inline input {
  // display: inline;
  max-width: 40%;
}

.hide-work-form form {
  display: none;
}

.created-by {
  text-align: left;
}

.webmaster {
  // text-align: right;
}

.header-underline h3 {
  text-decoration: underline;
  margin: 3px;
  padding: 3px;
}

.section-outline {
  border: solid black 1px;
  margin: 3px;
  padding: 3px;
}
