{{!-- <div class="text-center">
  <h1>Mechanic Mate</h1>

<p>  An app to help you keep track of maintenance on your vehicles<br>
  Log in and create a vehicle with some basic information, then create<br>
  many 'works' for that vehicle, which will log the type of work, and the date<br>
  and mileage during which it happened.</p>
</div> --}}
<div class="container-fluid">
  <div class="row full">
    <div class="col-md-6 intro-text">
      <h1>Mechanic<span style="color: #FFC000;">Mate</span></h1>
      <p>An app to help you keep <br> track of maintenance on <br> your vehicles</p>
    </div>
    <div class="col-md-6 intro-components">
      {{sign-up-form submit="signUp" reset="reset" credentials=model}}
      {{sign-in-form submit="signIn" reset="reset" credentials=model}}
    </div>
  </div>
</div>
