<h1> My vehicles </h1>

{{!-- <h1> Click on vehicle below to inspect </h1> --}}

{{#each model as |vehicle|}}
<div class="text-center">
<h2>{{vehicle.make}} {{vehicle.model}}</h2>
<h4>{{vehicle.year}}</h4>
{{#link-to 'vehicle' vehicle}} See vehicle! {{/link-to}}
</div>
{{/each}}

<div class="text-center">
{{#link-to "works"}}See All of your works{{/link-to}}
{{#link-to "new"}}Create a new vehicle{{/link-to}}

</div>
