<h1> My vehicles </h1>{{!-- <h1> Click on vehicle below to inspect </h1> --}}

{{#each model as |vehicle|}}
  {{#link-to 'vehicle' vehicle}}
    <div class="text-center">
      <h2>{{vehicle.make}} {{vehicle.model}}</h2>
      <h4>{{vehicle.year}}</h4>
    </div>
  {{/link-to}}

{{/each}}

<div class="text-center">
  <div>
    {{#link-to "works"}}See All of your works{{/link-to}}
  </div>
  <div>
    {{#link-to "new"}}Create a new vehicle{{/link-to}}
  </div>

</div>