<h1> My vehicles </h1>

{{!-- Links to works and sections --}}
<div class="row">
  <div class="col-md-4">
    <div class="text-center">
      <div class="links">
        {{#link-to "new" class="link"}}Create a new vehicle{{/link-to}}
      </div>
      <div class="links">
        {{#link-to "works" class="link"}}See All of your works{{/link-to}}
      </div>
    </div>
  </div>

{{!-- Links to individual vehicles --}}
  <div class="col-md-4">
    {{#each model as |vehicle|}}
      <div class="text-center vehicles">
        {{#link-to 'vehicle' vehicle.id}}
          <h2>{{vehicle.make}} {{vehicle.model}}</h2>
          <h4>{{vehicle.year}}</h4>
        {{/link-to}}
      </div>
    {{/each}}
  </div>

</div>
